body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', cursive;
}

/* =====================
   PRINT
   ===================== */

/* Media queries (@media) are a CSS technique that provide responsive design of web applications. They are responsible for providing the right experience for the right device.
*  Below media query is actually used to style the webpage components to be printed via 'Ctrl + P'.
*  More info on media queries: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ and https://www.smashingmagazine.com/2011/11/how-to-set-up-a-print-style-sheet/
*/
@media print {
    /* HIDE UNWANTED ELEMENTS */
    .course-files,
    #logo,
    .final-result::before,
    .info::before,
    .final-result::after,
    .info::after,
    .final-result h2,
    .info h2,
    img {
        display: none;
    }

    /* GLOBAL TYPOGRAPHY RESET */
    body {
        font-family: Georgia, serif;
        font-size: 16pt; /* pt is used as the unit of measurement instead of px since there are no pixels on paper */
        line-height: 24pt;
        background: none;
        color: #000000;
    }

    /* LAYOUT RESET */ 
    .final-result,
    .info,
    section,
    pre,
    footer {
        background: none;
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        color: #000000;
    }

    section:first-child::before {
        border: none;
    }

    .shadow-lg {
        box-shadow: none !important;
    }

    /* SPECIFICS */
    h1, h2, h3, h4, h5, h6 {
        color: #000000;
        font-size: 24pt;
        line-height: 30pt;
        margin: 0;
    }

    h1 {
        font-size: 50pt;
        margin: 0 0 20pt;
        text-align: center;
        width: 100%;
        transform: rotate(0);
    }

    .p-2 .btn {
        display: none;
    }

    .p-3 {
        padding: 0 !important;
    }

    a:link {
        margin: 0;
        padding: 0;
    }

    a::after {
        content: " [" attr(href) "]";
    }

    footer a:link,
    footer a:visited {
        color: #000000;
        background: none;
    }
}