body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', cursive;
}

button:focus {
    outline: none;
}

.button-theme {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #2C7982;
    background: #00B3B4;
    border: 1px solid #379AA4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.button-theme::before {
    background: #fa90a3;
    background-image: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef758b), to(#fa90a3));
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset, 0 1px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset, 0 1px 0 rgba(255, 255, 255, .5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3) inset, 0 1px 0 rgba(255, 255, 255, .5);
    position: absolute;
    content: "";
    left: -15px;
    right: -15px;
    top: -14px;
    bottom: -17px;
    z-index: -1;
}

a.button-theme {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.button-theme:hover {
    background: #0bbfc0;
    color: white !important;
}

/* =====================
   MODAL WINDOW
   ===================== */

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: #000000;
    /*
    * The pointer-events property allows for control over how HTML elements respond to mouse/touch events.
    * More info: https://css-tricks.com/almanac/properties/p/pointer-events/
    */
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

input[type="checkbox"]:checked ~ .overlay {
    pointer-events: auto;
    opacity: .8;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .5s ease, opacity .5s ease;
    transition: transform .5s ease, opacity .5s ease;
}

.modal-css {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    -webkit-transform: translate(-50%, -50%) scale(.5);
    transform: translate(-50%, -50%) scale(.5);
    width: 100%;
    max-width: 640px;
    pointer-events: none;
    opacity: 0;
}

input[type="checkbox"]:checked ~ .modal-css {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: transform .5s ease, opacity .5s ease;
    transition: transform .5s ease, opacity .5s ease;
    transition-delay: .1s;
}

.modal__content {
    display: block;
    padding: 30px;
    background: #ffffff;
}