body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', cursive;
}

button:focus {
    outline: none;
}

code {
    background: #fd6000;
    color: white;
    padding: 4px 6px;
    font-family: 'Nova Mono', monospace;
    font-size: 1rem;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px #5e2400;
    display: inline-block;
}

/* =====================
   IE Hacks
   ===================== */

