body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', cursive;
}

button:focus {
    outline: none;
}

section {
    position: relative;
}

section header, section article, section nav, section aside, section footer, section .logo, section .articles {
    font-size: 1rem;
}

section header, section article, section nav, section aside, section footer, section .logo, section .articles {
    background: rgba(140, 204, 231, 0.2);
    border: solid 1px rgba(140, 204, 231, 0.3);
    padding: 2%;
    margin: 0 0 2%;
    font-size: 1rem;
    box-sizing: border-box;
}

section ul {
    list-style: none;
}

section ul li {
    display: inline-block;
    margin: 0 2% 0 0;
}

code {
    background: #fd6000;
    color: white;
    padding: 4px 6px;
    font-family: 'Nova Mono', monospace;
    font-size: 1rem;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px #5e2400;
    display: inline-block;
}

/* =====================
   MODERN LAYOUT #1
   ===================== */

.layout1 article {
    width: 58%;
    float: left;
}

.layout1 aside {
    width: 40%;
    float: right;
}

.layout1 footer {
    /* The clear property is used in CSS to move an element below elements that are floated on either of its sides.
    *  More info: https://css-tricks.com/almanac/properties/c/clear/
    */
    clear: both;
}

/* =====================
   MODERN LAYOUT #2
   ===================== */

.layout2 header .logo {
    width: 20%;
    float: left;
    margin: 0;
}

.layout2 header nav {
    width: 78%;
    float: right;
    margin: 0;
}

/* simple clearfix to prevent collapse of the header element */
.layout2 header::after {
    display: table;
    content: "";
    clear: both;
}

.layout2 article {
    width: 50%;
    margin-left: 2%;
    float: left;
}

.layout2 aside.sidenav {
    width: 23%;
    float: left;
}

.layout2 aside.sidebar {
    width: 23%;
    float: right;
}

.layout2 footer {
    clear: both;
}

/* =====================
   MODERN LAYOUT #3
   ===================== */

.layout3 header .logo {
    width: 20%;
    float: left;
    margin: 0;
}

.layout3 header nav {
    width: 78%;
    float: right;
    margin: 0;
}

.layout3 header::after {
    display: table;
    content: "";
    clear: both;
}

.layout3 article {
    width: 32%;
    float: left;
    margin: 0 2% 0 0;
}

/* clear margin of last article to allow it to fit within layout */
.layout3 article:last-child {
    margin: 0;
}

.layout3 .articles::after {
    display: table;
    content: "";
    clear: both;
}

/* =====================
   MEDIA QUERIES
   ===================== */

@media only screen and (max-width: 768px) {
    .layout1 article,
    .layout1 aside,
    .layout1 footer,
    .layout2 header .logo,
    .layout2 header nav,
    .layout2 aside.sidebar,
    .layout2 aside.sidenav,
    .layout2 article,
    .layout2 footer,
    .layout3 header .logo,
    .layout3 header nav,
    .layout3 article {
        float: none;
        width: 100%;
        margin: 0 0 2%;
    }
}