body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', cursive;
}

button:focus {
    outline: none;
}

/* =====================
   COFFEE CUP
   ===================== */

.coffee {
    position: relative;
}

.handle {
    position: absolute;
    width: 127px;
    height: 50px;
    border-radius: 50px;
    box-sizing: 5px 0 1px 0 rgba(200, 200, 200, .8);
    background-image: linear-gradient(
        180deg,
        rgb(200, 200, 200) 5%,
        rgb(255, 255, 255) 50%,
        rgb(200, 200, 200) 95%
    );
    top: 50%;
    left: 450px;
    transform: translateY(-50%);
}

.coffee-cup {
    position: relative;
    z-index: 3;
    width: 462px;
    height: 462px;
    border-radius: 50%;
    box-shadow: 10px 35px 30px 7px rgba(49, 49, 49, .1);
    background-image: radial-gradient(
        50% 50%,
        rgb(14, 7, 0) 65%,
        rgb(185, 144, 18) 75%,
        rgb(129, 129, 129) 75%,
        rgb(255, 255, 255) 95%,
        rgb(161, 161, 161) 100%
    );
}

.brew {
    position: absolute;
    z-index: 4;
    width: 316px;
    height: 316px;
    border-radius: 50%;
    box-shadow: 5px 5px 0px 0px rgba(252, 232, 185, .5);
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    background-image: linear-gradient(
        140deg,
        rgb(0, 0, 0) 0%,
        rgb(52, 26, 0) 100%
    );
}

/* =====================
   MEDIA QUERIES
   ===================== */


