body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubblegum Sans', cursive;
}

/* =====================
   SHADOW TYPOGRAPHY
   ===================== */

.shadow-typo {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    text-transform: uppercase;
    color: #00b3b4;
    /* The text-shadow property is described by X and Y offsets relative to the element, blur radius, and color. 
    *  More info: https://css-tricks.com/almanac/properties/t/text-shadow/. 
    *  By using a negative value for the Y offset it will apply a shadow above the text.
    */
    text-shadow: 3px 3px 0 #e7eef1, 8px 8px 0 rgba(0, 0, 0, .1);
}

/* =====================
   3D TYPOGRAPHY
   ===================== */

.threedee-typo {
    font-size: 6rem;
    text-transform: uppercase;
    color: #f2395a;
    -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
    transform: skew(-5deg, -5deg) rotate(5deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    text-shadow: 1px 1px #d10e31,
                 2px 2px #d10e31,
                 3px 3px #d10e31,
                 4px 4px #d10e31,
                 5px 5px #d10e31,
                 6px 6px #d10e31,
                 7px 7px #d10e31,
                 8px 8px #890920,
                 9px 9px #890920,
                 10px 10px #890920,
                 11px 11px 15px rgba(0, 0, 0, .5);
}